fastapi[standard]~=0.115.12
filelock~=3.17.0

google-cloud-vision~=3.10.0
httpx~=0.28.1
Jinja2~=3.1.5

pydantic_settings~=2.7.1
pydantic~=2.10.6
pylint~=3.3.4
pytest-cov~=6.0.0
pytest-mock~=3.14.0
pytest-xdist~=3.6.1

pytest~=8.3.4
requests~=2.32.3
starlette~=0.46.1
