[submodule "vtt_user_data"]
	path = vtt_user_data
	url = git@github.com:chrisroberts14/vtt_user_data.git
[submodule "vtt_ui"]
	path = vtt_ui
	url = git@github.com:chrisroberts14/vtt_ui.git
[submodule "vtt_image_to_album"]
	path = vtt_image_to_album
	url = git@github.com:chrisroberts14/vtt_image_to_album.git
[submodule "vtt_bff"]
	path = vtt_bff
	url = git@github.com:chrisroberts14/vtt_bff.git
