repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: mixed-line-ending
    -   id: check-json
    -   id: check-toml
    -   id: requirements-txt-fixer
- repo: https://github.com/DanielNoord/pydocstringformatter
  rev: v0.7.3
  hooks:
    - id: pydocstringformatter
-   repo: https://github.com/PyCQA/autoflake
    rev: v2.3.1
    hooks:
    -   id: autoflake
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.5.1
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format
- repo: local
  hooks:
    - id: local-biome-check
      name: biome check
      entry: bash -c "cd turn_table_ui && npx biome check --fix ."
      language: system
- repo: https://github.com/pycqa/pylint
  rev: v3.2.5
  hooks:
    - id: pylint
      entry: ./pylint_script.py
      language: system
- repo: https://github.com/compilerla/conventional-pre-commit
  rev: v3.2.0
  hooks:
    - id: conventional-pre-commit
      stages: [commit-msg]
      args: []
