alembic~=1.14.0
fastapi[standard]~=0.115.5
filelock~=3.16.1
httpx~=0.27.2
Jinja2~=3.1.4

pydantic_settings~=2.6.1
pydantic~=2.9.2
pylint~=3.3.1
pytest-cov~=6.0.0
pytest-mock~=3.14.0
pytest-xdist~=3.6.1

pytest~=8.3.3
requests~=2.32.3
sqlalchemy~=2.0.36
